// reset rules
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.width80 {
    width: 80%;
    margin: auto;
}

.container {
    display: flex;
}

.link {
    text-decoration: none;
}
.post_content {
    color: #888888;
}